<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User administrator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ static('user_manager/css/dev.css') }}">
</head>
<body>

<main>
{% block main %}
{% endblock %}
</main>

<script src="{{ static('user_manager/js/vue.js') }}"></script>
<script type="text/javascript">Vue.options.delimiters = ['[[', ']]']</script>
{% block bottom %}
{% endblock %}
</body>
</html>
