<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <title>Aplicativo de Gestión de Usuarios Únicos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ static('user_manager/pix/favicon-novo.png') }}"/>
    <link rel="canonical" href="">

    {# Stylesheets #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static('user_manager/font-awesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ static('user_manager/font-awesome/css/fa-light.min.css') }}">
    <link rel="stylesheet" href="{{ static('user_manager/font-awesome/css/fa-solid.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('user_manager/css/dev.css') }}">
    <link rel="stylesheet" href="{{ static('user_manager/css/naui-bpm.css') }}">
    <link rel="stylesheet" href="{{ static('user_manager/css/color-scheme.css') }}">
    <link rel="stylesheet" href="{{ static('user_manager/css/login.css') }}">

</head>
<body>

<main class="" id="main-app">
    <div class="naui-main">
        {% block main %}

        {% endblock %}
    </div>
</main>

{# Bottom Scripts #}

<section class="scripts">
    <script src="{{ static('user_manager/js/vue.js') }}"></script>
    <script type="text/javascript">Vue.options.delimiters = ['[[', ']]']</script>
</section>

{% block bottom %}


{% endblock %}

</body>

</html>



