<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <title>Aplicativo de Gestión de Usuarios Únicos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ static('user_manager/pix/favicon-novo.png') }}"/>
    <link rel="canonical" href="">

    {# Stylesheets #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static('user_manager/font-awesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ static('user_manager/font-awesome/css/fa-light.min.css') }}">
    <link rel="stylesheet" href="{{ static('user_manager/font-awesome/css/fa-solid.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('user_manager/css/dev.css') }}">
    <link rel="stylesheet" href="{{ static('user_manager/css/naui-bpm.css') }}">
    <link rel="stylesheet" href="{{ static('user_manager/css/color-scheme.css') }}">
    <link rel="stylesheet" href="{{ static('user_manager/css/custom.css') }}">
    {% block stylesheet %}

    {% endblock %}
</head>
<body>

{% block aside %}
    {% set modules=[
    {'name':'Gestión de usuarios','href':'/'}
    ] %}
    {{ page.aside(modules=modules) }}
{% endblock %}

<main class="naui-content" id="main-app">
    <section class="section-header">
        <div class="title box-left">
            {% block header %}

            {% endblock %}
        </div>
        {% set salir={'label':'Cerrar Sesión','href':url('user_manager:logout')} %}
        <div class="session box-left">
            <div class="user-auth">Gestión de usuarios Novo Nordisk Colombia</div>
            <div>
                <a href="{{ salir.href }}" class="boton-sign-out btn btn-outline-secondary btn-sm"><i class="fa fa-lock"></i> {{ salir.label }} </a>
            </div>
        </div>
    </section>
    <div class="naui-main">
        {% block main %}

        {% endblock %}
    </div>
</main>

{# Bottom Scripts #}
<div class="alert-container">
    {% for message in get_messages(request) %}
        <div class="alert {{ message.extra_tags }}" onclick="this.parentNode.removeChild(this)">
            {{ message }}
        </div>
    {% endfor %}
</div>

<section class="scripts">
    <script src="{{ static('user_manager/js/vue.js') }}"></script>
    <script type="text/javascript">Vue.options.delimiters = ['[[', ']]']</script>
</section>

{% block bottom %}


{% endblock %}

</body>

</html>



