{% import 'user_manager/_bpm/naui-fields.html' as naui_f %}
{% import 'user_manager/_bpm/naui-actions.html' as naui_a %}

{# Row1 #}
{% set row1 %}
    {{ naui_f.vue_select(label='Aplicación',name='aplicacion',options='apps', class='col-md-2', display='app_name',vmodel='filters.app') }}
{#    {{ naui_f.vue_select(label='Perfil',name='perfil',options='profiles', class='col-md-2', display='name',vmodel='filters.profile') }}#}
    <div class="form-group col">
                <label>Realice la búsqueda por nombre de usuario o correo</label>
                <div class="input-group">
                    <input class="form-control" name="search" id="search" placeholder="Buscar" v-model="searchWord">
                    <div class="input-group-append">
                    <span class="input-group-text">
                    <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
    <div class="form-group col-auto align-self-end">
        <a href="{{ url('user_manager:create-user') }}" class="btn btn-outline-primary"><i class="fal fa-plus"></i> Crear nuevo usuario</a>
    </div>
{% endset %}

<div class="block">
    <fieldset>
        <div class="form-row">

        </div>
        <div class="form-row">
            {{ row1 }}
        </div>
    </fieldset>
</div>
