{% extends 'user_manager/partials/base.html' %}

{% block main %}
    <div id="main-app">
        <table class="table">
            <thead>
            <tr class="text-center">
                <th>Username</th>
                <th>Email</th>
                <th>Permissions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users">
                <td>[[ user.username ]]</td>
                <td>[[ user.email ]]</td>
                <td>
                    <a :href="'{{ url('user_manager:view-user') }}?user_id=' + user.user_id">View</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block bottom %}
    <script>
        new Vue({
            el: '#main-app',
            data: {
                users: {{ users }}
            }
        })
    </script>
{% endblock %}
