{# Registras menu lateral y módulos disponibles #}
{% macro aside(modules) %}
    {% set salir={'label':'Cerrar Sesión','href':'/'} %}

    <aside class="naui-aside _gray80">
        <div class="block logo text-center">
            <img height="67" src="{{ static('user_manager/pix/novo-logo.png') }}">
        </div>
        <nav class="nav-modules nav flex-column">
            {% for module in modules %}
                <a class="nav-link _gray60" href="{{ module.href }}">{{ module.name }}</a>
            {% endfor %}
        </nav>
        <div class="block text-center">
            <a href="{{ salir.href }}" class="btn __primary btn-sm"><i class="fal fa-sign-out"></i> {{ salir.label }} </a>
        </div>
    </aside>
{% endmacro %}

{# Título de página dentro del Main #}
{% macro navigation(title,class,fa,href) %}
<div class="block {{ class }}">
        <h5 class="page-title">
            {% if fa %}
            <a href="{{ href }}" class="mr-2"><i class="fal fa-{{ fa }}"></i></a>
            {% endif %}
            {{ title }}
        </h5>
</div>
{% endmacro %}




