*{
    font-family: 'Open Sans',sans-serif;
}

dt, dd, p{
    color:#555;
}

._gray80{
    background-color: #F4F5F7;
}

._gray60{
    background-color: #091e420a;
}

._gray40{
    background-color: #2980b9;
    color:#fff;
}

._n10{
    background-color: #fff;
}

._primary{
    background-color: #2980b9;
    color:#fff;
}

.__primary{
    color: #711E82;
    border-color: #711E82;
}

.btn-primary{
    background-color: #009FDA;
    color:#fff;
    border-color: #009FDA;
}

.btn-outline-primary{
    color: #711E82;
    border-color:#711E82;
}

.btn-success{
    background-color:#009FDA;
    border-color:#009FDA;
}

.btn-success:hover{
    background-color: #008bc5;
    border-color:#008bc5;
}

.btn-success:focus{
    box-shadow: none !important;
}

.btn-success:active{
    background-color: #0071a1 !important;
    border-color:#0071a1 !important;
    box-shadow: none !important;
}

.btn-outline-success{
    color:#1abc9c;
    border-color:#1abc9c;
}

.btn-outline-success:hover{
    color:#fff;
    border-color:#1abc9c;
    background-color:#1abc9c;
}

.back-gris{
    background-color: #F4F5F7;
}

legend{
    color:#555;
}

.editar{
    color: #1abc9c;
}

.naui-date{
    color:#009FDA;
    border-color:#ced4da;
}

.back-gris .naui-checkbox .checkmark{
    background-color: #fff;
    border:1px solid #ced4da;
}

.back-gris .form-control{
    background-color:#fff;
}

.btn-primary i{
    color:#fff;
}

