.grid {
    display: grid;
}

.flex {
    display: flex;
}

.list-title {
    padding: 3px;
    text-align: center;
}

.list-selection {
    border: #dedede solid 1px;
    padding: .5em;
    min-height: 300px;
}

.list-selection li {
    width: 100%;
    padding: .3em;
    cursor: pointer;
}

.list-selection li.selected {
    background-color: blue;
    color: #ffffff;
}

.list-action {
    cursor: pointer;
    font-size: xx-large;
}

.alert-container {
    position: fixed;
    z-index: 10;
    bottom: 5px;
    right: 15px;
    min-width: 400px;
}
