main {
    max-width: 1000px;
    margin: 1em auto 0;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table td, .table tr, .table th {
    border: solid 1px #dedede;
    padding: 1em 1em 1em 1em;
}

.list-title {
    padding: 3px;
    text-align: center;
}

.list-selection {
    border: #dedede solid 1px;
    padding: .5em;
    min-height: 300px;
}

.list-selection li {
    width: 100%;
    padding: .3em;
    cursor: pointer;
}

.list-selection li.selected {
    background-color: blue;
    color: #ffffff;
}

.list-action {
    cursor: pointer;
    font-size: xx-large;
}
