{% import 'user_manager/_bpm/naui-fields.html' as naui_f %}
{% import 'user_manager/_bpm/naui-actions.html' as naui_a %}

{% set legend='PERMISOS' %}

{% set row1 %}
    {{ naui_f.vue_select(label='Perfil',name='perfil',options='profiles', class='col-md-2',display='name',vmodel='user.user_metadata.profile') }}
{% endset %}

{% set row2 %}
<div class="col-5">
    <div class="list-title">Aplicaciones disponibles</div>
    <ul class="list-selection list-inline">
        <li class="list-inline-item" v-for="app in notSelectedApps"
            :class="{selected: app.selected}"
            @click="setAppSelected(app, 'l')">
            [[ app.app_name ]]
            <input type="hidden" name="apps" :value="app.app_id">
        </li>
    </ul>
</div>
<div class="col-2 text-center pt-5">
    <div @click="addApps">
        <i class="fas fa-2x fa-long-arrow-alt-right"></i>
    </div>
    <div @click="removeApps">
        <i class="fas fa-2x fa-long-arrow-alt-left"></i>
    </div>
</div>
<div class="col-5">
    <div class="list-title">Aplicaciones seleccionadas</div>
    <ul class="list-selection list-inline">
        <li class="list-inline-item" v-for="app in selectedApps" :class="{selected: app.selected}"
            @click="setAppSelected(app, 'r')">
            [[ app.app_name ]]
        </li>
    </ul>
</div>
{% endset %}

{% set row3 %}
<div class="form-group col-auto">
    <form method="post">
        {{ csrf_input }}
        <input type="hidden" name="user_data" :value="userJson">
        <button type="submit" class="btn btn-outline-primary">
            {% if creating %}Crear usuario{% else %}Actualizar usuario{% endif %}
        </button>
    </form>
</div>
<div class="form-group col-auto">
    <a href="{{ url('user_manager:index') }}" class="btn btn-outline-primary">Cancelar</a>
</div>
<div class="form-group col-auto">
    <div class="btn btn-outline-primary" @click="confirmDeleteUser">Eliminar usuario</div>
</div>
{% endset %}

<div class="block">
    <fieldset>
        <legend>{{ legend }}</legend>
        <div class="form-row">
            {{ row1 }}
        </div>
        <div class="form-row">
            {{ row2 }}
        </div>
        <div class="form-row">
            {{ row3 }}
        </div>
    </fieldset>
</div>
