{% import 'user_manager/_bpm/naui-fields.html' as naui_f %}
{% import 'user_manager/_bpm/naui-actions.html' as naui_a %}

{% set legend='DATOS DE USUARIO' %}
{% set f_modo='disabled' if not creating else '' %}


{% set row1 %}
{{ naui_f.input(label='Nombre de usuario',name='user',class='col-md-3',vmodel='user.username',modo=f_modo) }}
{{ naui_f.input(label='Correo',type='email',name='email',class='col-md-3',vmodel='user.email',modo=f_modo) }}
{{ naui_f.input(label='Nombre',name='nombre',class='col-md-3',vmodel='user.user_metadata.first_name') }}
{{ naui_f.input(label='Apellido',name='apellido',class='col-md-3',vmodel='user.user_metadata.last_name') }}
{% endset %}

{% set row2 %}
<div class="col-auto">
    <form method="post" action="{{ url('user_manager:reset-password') }}"
          onsubmit="confirm('¿Desea enviar email para cambiar la contraseña de este usuario?')">
        <button class="btn btn-outline-primary"><i class="fal fa-sync"></i> Restaurar contraseña</button>
    </form>
</div>
{% endset %}

<div class="block">
    <fieldset>
        <legend>{{ legend }}</legend>
        <div class="form-row ">
            {{ row1 }}
        </div>
        <div class="form-row">
            {{ row2 }}
        </div>
    </fieldset>
</div>
