{% import 'user_manager/_bpm/naui-fields.html' as naui_f %}
{% import 'user_manager/_bpm/naui-actions.html' as naui_a %}

{% set legend='PERMISOS' %}

{% set row1 %}
{#{{ naui_f.vue_select(label='Perfil',name='perfil',options='profiles', class='col-md-2',display='name',vmodel='userProfile') }}#}
{% endset %}

{% set row2 %}

<div class="gridWidgetAdd">
    <div class="left">
        <div class="list-title">Aplicaciones disponibles</div>
        <ul class="list-selection list-inline">
            <li class="list-inline-item" v-for="app in notSelectedApps"
                :class="{selected: app.selected}" @click="setAppSelected(app, 'l')">
                [[ app.app_name ]]
                <input type="hidden" name="apps" :value="app.app_id">
            </li>
        </ul>
    </div>
    <div class="controls">
        <div @click="addApps">
            <i class="fas fa-2x fa-long-arrow-alt-right"></i>
        </div>
        <div @click="removeApps">
            <i class="fas fa-2x fa-long-arrow-alt-left"></i>
        </div>
    </div>
    <div class="right">
        <div class="list-title">Aplicaciones seleccionadas</div>
        <ul class="list-selection list-inline">
            <li class="list-inline-item" v-for="app in selectedApps" :class="{selected: app.selected}"
                @click="setAppSelected(app, 'r')">
                [[ app.app_name ]]<span v-if="app.selected_role"> ([[ app.selected_role ]])</span>
            </li>
        </ul>
    </div>
</div>

{% endset %}

<div class="block">
    <fieldset>
        <legend>{{ legend }}</legend>
        <div class="form-row">
            {{ row1 }}
        </div>
        <div class="form-row">
            {{ row2 }}
        </div>
    </fieldset>
</div>
