{% extends 'user_manager/partials/base.html' %}
{% import 'user_manager/_bpm/naui-page.html' as page %}


{% block header %}
    <h3 class="page-title">
        Usuarios
    </h3>
{% endblock %}


{% block main %}

    {# Header #}
    {# {{ page.navigation(title=title) }} #}


    {# Incluir componentes #}
    {% include 'user_manager/components/user-list/_filtros.html' %}
    {% include 'user_manager/components/user-list/_table.html' %}

{% endblock %}

{% block bottom %}
    <script>
        new Vue({
            el: '#main-app',
            data: {
                profiles: {{ profiles|tojson }},
                apps: {{ apps|tojson }},
                users: {{ users }},
                searchWord: '',
                filters: {
                    profile: '',
                    app: ''
                }
            },
            computed: {
                filteredUsers: function () {
                    var filteredUsers = this.users;
                    var self = this;
                    if (this.filters.profile) {
                        filteredUsers = filteredUsers.filter(function (user) {
                            var profile = self.getUserMeta(user, 'profile');
                            if (profile) {
                                console.log('PROFILE', profile, self.filters.profile);
                                return profile.id === self.filters.profile.id;
                            } else {
                                return false;
                            }
                        });
                    }
                    if (this.filters.app) {
                        filteredUsers = filteredUsers.filter(function (user) {
                            var userPermissions = user.hasOwnProperty('app_metadata') ?
                                user.app_metadata.permissions : [];
                            if (userPermissions !== null) {
                                for (var i = 0; i < userPermissions.length; i++) {
                                    console.log('APP', userPermissions[i].app, self.filters.app);
                                    if (userPermissions[i].app === self.filters.app.app_id) {
                                        return true;
                                    }
                                }
                            }
                            return false;
                        });
                    }
                    if (this.searchWord) {
                        filteredUsers = filteredUsers.filter(function (user) {
                            return !!(
                                self.checkSubString(user.username) ||
                                self.checkSubString(user.email) ||
                                self.checkSubString(self.getUserMeta(user, 'first_name')) ||
                                self.checkSubString(self.getUserMeta(user, 'last_name'))
                            );

                        });
                    }
                    return filteredUsers;
                }
            },
            methods: {
                getUserMeta: function (user, attribute) {
                    if (user.hasOwnProperty('user_metadata')) {
                        return user.user_metadata[attribute] || '';
                    } else {
                        return '';
                    }
                },
                getUserProfile: function (user) {
                    var profile = this.getUserMeta(user, 'profile');
                    if (profile) {
                        return profile.name;
                    } else {
                        return 'N/A'
                    }
                },
                checkSubString(string) {
                    var ret = string.toLowerCase().indexOf(this.searchWord.toLowerCase());
                    return ret > -1;
                }
            }
        })
    </script>
{% endblock %}
