{% extends 'user_manager/partials/base.html' %}
{% import 'user_manager/_bpm/naui-page.html' as page %}


{% block header %}
    <h3 class="page-title">
        Usuarios
    </h3>
{% endblock %}


{% block main %}

    {# Header #}
    {# {{ page.navigation(title=title) }} #}


    {# Incluir componentes #}
    {% include 'user_manager/components/user-list/_filtros.html' %}

    <template v-if="users.length > 0">
        <div class="block">
            <a class="btn btn-outline-primary" :href="makeLinkToDownloadReport()" download>
                <i class="fa fa-download"></i>
                Descargar reporte CSV
            </a>
        </div>
    </template>

    {% include 'user_manager/components/user-list/_table.html' %}

{% endblock %}

{% block bottom %}
    <script>
        new Vue({
            el: '#main-app',
            data: {
                profiles: {{ profiles|tojson }},
                apps: {{ apps|tojson }},
                appsMapper: {},
                users: {{ users }},
                searchWord: '',
                filters: {
                    profile: '',
                    app: ''
                }
            },
            beforeMount: function() {
                var self = this;
                this.apps.forEach((a) => {
                    self.appsMapper[a.app_id] = a.app_name;
                });
            },
            computed: {
                filteredUsers: function () {
                    var filteredUsers = this.users;
                    var self = this;
                    if (this.filters.profile) {
                        filteredUsers = filteredUsers.filter(function (user) {
                            var profile = self.getUserMeta(user, 'profile');
                            if (profile) {
                                return profile === self.filters.profile.id;
                            } else {
                                return false;
                            }
                        });
                    }
                    if (this.filters.app) {
                        filteredUsers = filteredUsers.filter(function (user) {
                            var userPermissions = user.hasOwnProperty('app_metadata') ?
                                user.app_metadata.permissions : [];
                            if (userPermissions !== null) {
                                for (var i = 0; i < userPermissions.length; i++) {
                                    if (userPermissions[i].app === self.filters.app.app_id) {
                                        return true;
                                    }
                                }
                            }
                            return false;
                        });
                    }
                    if (this.searchWord) {
                        filteredUsers = filteredUsers.filter(function (user) {
                            return !!(
                                self.checkSubString(user.username) ||
                                self.checkSubString(user.email) ||
                                self.checkSubString(self.getUserMeta(user, 'first_name')) ||
                                self.checkSubString(self.getUserMeta(user, 'last_name'))
                            );

                        });
                    }
                    return filteredUsers;
                }
            },
            methods: {
                getUserProfile: function(user) {
                    if (user.hasOwnProperty('app_metadata')) {
                        if(user.app_metadata.hasOwnProperty('permissions')) {
                            var response = [];
                            var self = this;
                            user.app_metadata.permissions.forEach((p) => {
                                var appName = self.appsMapper[p.app];
                                if (appName) {
                                    response.push(self.appsMapper[p.app] + ': ' + p.role)
                                }
                            });
                            return response.join(' | ');
                        }
                    }
                    return '';
                },
                getUserMeta: function (user, attribute) {
                    if (user.hasOwnProperty('user_metadata')) {
                        return user.user_metadata[attribute] || '';
                    } else {
                        return '';
                    }
                },
                checkSubString(string) {
                    var ret = string.toLowerCase().indexOf(this.searchWord.toLowerCase());
                    return ret > -1;
                },
                makeQueryParams() {
                    var queryParams = [];
                    if(this.filters.app && this.filters.app.app_id) {
                        queryParams.push('application=' + this.filters.app.app_id);
                    }
                    if(this.searchWord) {
                        queryParams.push('word=' + this.searchWord);
                    }

                    var queryParamsString = '';
                    if(queryParams.length > 0){
                        queryParamsString = '?'+queryParams.join('&');
                    }

                    return queryParamsString;
                },
                makeLinkToDownloadReport() {
                    return "{{ url('user_manager:download-users-report') }}" + this.makeQueryParams();
                },
            }
        })
    </script>
{% endblock %}
