{% extends 'user_manager/partials/base.html' %}
{% import 'user_manager/_bpm/naui-page.html' as page %}

{# Titulo e intro #}
{% set title = 'Edición de usuario' %}

{#Solo lectura #}
{% set f_modo='disabled' %}

{% if creating %}
{% set title='Crear usuario' %}
{% else %}
{% set title='Editar usuario' %}
{% endif %}

{% block header %}
    <h3 class="page-title">
        <a href="/">
            <i class="fal fa-arrow-left mr-2"></i>
        </a>
        {{ title }}
    </h3>
{% endblock %}

{% block main %}
    {# Incluir componentes header y accciones #}
    {% include 'user_manager/components/user/_info-general.html' %}
    {% include 'user_manager/components/user/_info-detalles.html' %}
    {% include 'user_manager/components/user/_roles-apps.html' %}
    {% include 'user_manager/components/user/_actions.html' %}


{% endblock %}

{% block bottom %}
    <script>
        new Vue({
            el: '#main-app',
            data: {
                user: {{ data }},
                userApps: {},
                apps: {{ apps|tojson }},
                profiles: {{ profiles|tojson }},
                clicks: {
                    count: 0,
                    timer: null
                },
                userProfile: ''
            },
            mounted: function () {
                var user = this.user;

                if (!user.hasOwnProperty('app_metadata')) {
                    this.$set(this.user, 'app_metadata', {permissions: []});
                }
                if (!user.app_metadata.hasOwnProperty('permissions')) {
                    this.$set(this.user.app_metadata, 'permissions', []);
                }

                if (!this.user.hasOwnProperty('user_metadata')) {
                    this.$set(this.user, 'user_metadata', {
                        first_name: '', last_name: ''
                    });
                }

                if (!user.user_metadata.hasOwnProperty('first_name')) {
                    this.$set(this.user.user_metadata, 'first_name', '');
                }
                if (!user.user_metadata.hasOwnProperty('last_name')) {
                    this.$set(this.user.user_metadata, 'last_name', '');
                }
                if (!user.user_metadata.hasOwnProperty('profile')) {
                    this.$set(this.user.user_metadata, 'profile', '');
                }

                this.userProfile = this.profiles.filter(function (profile) {
                    return profile.name === user.user_metadata.profile;
                })[0] || '';

                var permissions = user.app_metadata.permissions;
                permissions.forEach(function (item, index) {
                    this.$set(this.userApps, item.app, index);
                }, this);

                this.apps.forEach(function (app) {
                    if (!this.userApps.hasOwnProperty(app.app_id)) {
                        this.$set(this.userApps, app.app_id, -1);
                    } else {
                        app.selected_role = permissions[this.userApps[app.app_id]].role;
                    }
                }, this);
            },
            watch: {
                userProfile: function (newValue) {
                    console.log(newValue);
                    if (newValue) {
                        this.user.user_metadata.profile = newValue.name;
                    }
                }
            },
            computed: {
                notSelectedApps: function () {
                    return this.apps.filter(function (app) {
                        return this.userApps[app.app_id] === -1;
                    }, this)
                },
                selectedApps: function () {
                    return this.apps.filter(function (app) {
                        return this.userApps[app.app_id] > -1;
                    }, this)
                },
                userJson: function () {
                    return JSON.stringify(this.user);
                }
            },
            methods: {
                setAppSelected: function (app, list) {
                    app.selected = !app.selected;
                    var self = this;
                    this.clicks.count++;

                    this.clicks.timer = setTimeout(function () {
                        self.clicks.count = 0;
                    }, 200);

                    if (list === 'l') {
                        this.selectedApps.forEach(function (app) {
                            app.selected = false;
                        });
                    } else if (list === 'r') {
                        this.notSelectedApps.forEach(function (app) {
                            app.selected = false;
                        });
                    }

                    if (this.clicks.count > 1) {
                        clearTimeout(this.timer);
                        this.toggleApp(app);
                        this.clicks.count = 0;
                    }
                },
                toggleApp: function (app) {
                    var appIndex = this.userApps[app.app_id];
                    var permissions = this.user.app_metadata.permissions;
                    app.selected = false;

                    if (appIndex > -1) {
                        permissions.splice(appIndex, 1);
                        this.userApps[app.app_id] = -1;
                    } else {
                        this.userApps[app.app_id] = permissions.length;
                        permissions.push({
                            app: app.app_id, role: ''
                        });
                    }
                },
                addApps: function () {
                    this.notSelectedApps.forEach(function (app) {
                        if (app.selected) {
                            this.toggleApp(app);
                        }
                    }, this);
                },
                removeApps: function () {
                    this.selectedApps.forEach(function (app) {
                        if (app.selected) {
                            this.toggleApp(app);
                        }
                    }, this);
                },
                confirmDeleteUser: function () {
                    if (confirm('¿Desea eliminar este usuario?')) {
                        this.$refs.deleteUser.submit();
                    }
                },
                changeAppRole: function (app, role) {
                    var appIndex = this.userApps[app.app_id];
                    var permissions = this.user.app_metadata.permissions;

                    permissions[appIndex].role = role;
                }
            }
        })
    </script>
{% endblock %}