{% extends 'user_manager/partials/base.html' %}
{% import 'user_manager/_bpm/naui-page.html' as page %}

{% block header %}
    <h3 class="page-title">
        Reporte usuarios
    </h3>
{% endblock %}

{% block main %}
    {# Incluir componentes #}
    {% include 'user_manager/components/reports/_filters.html' %}

    <template v-if="loginLogs.length > 0">
        <div class="block">
            <a class="btn btn-outline-primary" :href="makeLinkToDownloadReport()" download>
                <i class="fa fa-download"></i>
                Descargar reporte CSV
            </a>
        </div>
    </template>

    {% include 'user_manager/components/reports/_table.html' %}
{% endblock %}

{% block bottom %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        new Vue({
            el: '#main-app',
            data: {
                apps: {{ apps|tojson }},
                loginLogs: [],
                searchWord: '',
                filters: {
                    app: '',
                    from: '',
                    to: '',
                    search: ''
                }
            },
            mounted: function() {
                this.getLoginLogs();
            },
            methods: {
                toNovonordiskEmail(username) {
                    return username.toUpperCase()+'@novonordisk.com';
                },
                formatDate(isoDate){
                    var d = new Date(isoDate);
                    return d.toLocaleDateString();
                },
                checkSubString(string) {
                    var ret = string.toLowerCase().indexOf(this.searchWord.toLowerCase());
                    return ret > -1;
                },
                changeFromDate(event) {
                    this.filters.from = event.target.value;
                    this.getLoginLogs();
                },
                changeToDate(event) {
                    this.filters.to = event.target.value;
                    this.getLoginLogs();
                },
                makeQueryParams() {
                    var queryParams = [];
                    if(this.filters.app && this.filters.app.app_id) {
                        queryParams.push('application=' + this.filters.app.app_id);
                    }

                    if(this.filters.from) {
                        queryParams.push('from=' + this.filters.from);
                    }
                    if(this.filters.to) {
                        queryParams.push('to=' + this.filters.to);
                    }

                    if(this.filters.search) {
                        queryParams.push('search=' + this.filters.search);
                    }

                    var queryParamsString = '';
                    if(queryParams.length > 0){
                        queryParamsString = '?'+queryParams.join('&');
                    }

                    return queryParamsString;
                },
                getLoginLogs() {
                    var $this = this;
                    $.get("{{ url('user_manager:login-log') }}" + $this.makeQueryParams(), function( data ) {
                        $this.loginLogs = data;
                    });
                },
                makeLinkToDownloadReport() {
                    return "{{ url('user_manager:download-login-logs-report') }}" + this.makeQueryParams();
                },
                getApplicationName(app_id) {
                    for(let i=0;i<this.apps.length;i++){
                        let app = this.apps[i];
                        if(app.app_id === app_id){
                            return app.app_name;
                        }
                    }
                }
            }
        })
    </script>
{% endblock %}